{% extends "base_nav.html" %}

{% block content %}
<link rel = "stylesheet" href = "/static/css/blog_landing.css">

<div class = "container">

    <!-- Front page article card -->
    <div class = "container" id="title_card_container">
      <img class="image" src= "/static/images/matt-ragland-8OVDzMGB_kw-unsplash.jpg" width = "100%" height = "85%" style="object-fit: cover;transition:.5s ease;backface-visibility: hidden;" alt="main_card_picture">
      <div class="overlay">
      </div>
      <h2 style="margin-top:1%;position: relative; bottom: 85%;">My Experience with Productivity</h2>
    </div>

    
    <!-- Contains three buttons you can you to filter the type of posts you want-->
    <div id="post_catagory_button" class = "container">
      <div class = "catagory">
        Life Style
      </div>
      <div class = "catagory" style="background-color: rgba(145,55,255,255);">
        Technology
      </div>
      <div class = "catagory">
        Business 
      </div>

    </div>
    <!-- intermediate Container for newletter add-->
    <div id = "new_letter_container" class = "container"> 

    </div>

    <!--Container for the 2/3 collectino of card articles-->
    <div id="card_grid" class = "container">
        
      {% for x in range(num_blog_posts) %}
      <div class="container">
        <img src="\static\images\luca-bravo-XJXWbfSo2f0-unsplash.jpg" alt="Norway" class="blog_cover_image">
        <div class="blog_title">
          <h2>10 Top design principles</h2>
          <p>Sept 21 2021</p>
        </div>
      </div>
      {% endfor %}
        
          
    </div>

    <!-- View all posts button-->
    <div class = view_all_posts_button>
      <a href="#" style="color:white; text-decoration: none;"> View All Posts </a>
    </div>
</div>

{% endblock %}