{% extends "base_nav.html" %}

{% block content %}
<link rel = "stylesheet" href = "/static/css/blog_landing.css">

<div class = "container">

    <!-- Front page article card -->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>   
    
    <!-- Contains three buttons you can you to filter the type of posts you want-->
    <div id="post_catagory_button" class = "container">

    </div>

    <!--Container for the 2/3 collectino of card articles-->
    <div id="card_grid" class = "container">


    </div>
</div>

{% endblock %}