{% extends "base_nav.html" %}

{% block content %}
  <link rel = "stylesheet" href = "/static/css/homepage.css">

  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item  text-center active">
        <img class="img-fluid" src="/static/images/short_story.png" alt="First slide">
      </div>
      <div class="carousel-item  text-center">
        <img class="img-fluid" src="/static/images/slam_poems.png" alt="Second slide">
      </div>
      <div class="carousel-item  text-center">
        <img class="img-fluid" src="/static/images/Podcasts.png" alt="Third slide">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class = "card_container">

    <div class="card catagory">
      <div class="card-body">
        <h3 class="card-title">Stories</h3>
        <hr class = "catagory_line"/>
        <p class="card-text">A collection of short stories designed to build specific skills such as dialogue, dramatization, setting, characterization.
          As well as a novel where I apply all of these skills with an overarching story. </p>
        <a href="/stories" class="btn catagory_button">Go somewhere</a>
      </div>
    </div>


    <div id= "center_card" class="card catagory">
      <div class="card-body">
        <h3 class="card-title">Blog</h3>
        <hr class = "catagory_line"/>
        <p class="card-text">A mix of free writing, and various articles regarding my experiences with different areas of knowlege </p>
        <a href="/blog" class="btn catagory_button">Go somewhere</a>
      </div>
    </div>


    <div class="card catagory">
      <div class="card-body">
        <h3 class="card-title">Poems</h3>
        <hr class = "catagory_line"/>
        <p class="card-text"> *Under Construction* </p>
        <a href="#" class="btn catagory_button">Go somewhere</a>
      </div>
    </div>


  </div>

  <div class = "about_container">
    <div class = "about_author">
      <img id= "self_portait_picture" src= /static/images/self.jpg alt = "self portait">

      <div id=self_description>
        <h1 style = "text-align:center">About the Author</h1>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>
    </div>
    <div class = "latest">

      <div id = "title_container">
        <div><hr class = "lastest_title_line"/></div>
        <div><h1 id="latest_title"> Latest </h1></div>
        <div> <hr class = "lastest_title_line"/> </div>
      </div>

      <div id="blog_post">
        <h2 class = post_headline> Blog Posts </h2>
        <ul id= "blog_post_list">
          <li class = post_headline> Article Title </li>
          <li class = post_headline> Article Title</li>
          <li class = post_headline> Article Title</li>
        </ul>
      </div>

      <div id= "stories">
        <h2 id="stories_title"> Stories</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>


      <div id="poem_carousel">
        <h2 id="poems_title"> Poems </h2>

        <div id="poems" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item  text-center active">
              <img class="img-fluid poem_img" src="/static/images/remedy_story.png" alt="First slide">
            </div>
            <div class="carousel-item  text-center">
              <img class="img-fluid poem_img" src="/static/images/slam_poems.png" alt="Second slide">
            </div>
            <div class="carousel-item  text-center">
              <img class="img-fluid poem_img" src="/static/images/Podcasts.png" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#poems" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#poems" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </div>

  </div>
  <div id="end"></div>

{% endblock %}