{% extends "base_nav_for_reading.html" %}

{% block content %}

<link rel = "stylesheet" href = "/static/css/reading_pages.css">
<div id = "story_cover">
    <img id = "cover" src= "/static/images/short_story.png">
    <div id = "story_title">
        <h2>Prologue</h2>
        <!--Overflow the div out of the box, by a certain amount to create an overhang -->
    </div>
</div>

<div id = "content">
I gasp. My eyes fly open and I can feel my heart pounding. At this moment, I am trying to figure out if the endless blackness I am staring into is that of my ceiling, or if I’m still stuck in that hellish nightmare. Several seconds pass, the pulsing sensation dies down, my eyes adjust and I can see the ceiling materialize above me. I scan my surroundings and promptly notice the digital clock at my bedside. 5:30 on the dot huh? Shit. I must have had that dream again… 
I shuffle out of bed, and as I stand in the middle of the empty room I feel a sense of dizziness, a vertigo that radiates throughout my body. For a second, I forget where I am. I smile. Isn't it funny? When the mind finds reality so painful it feels the need to delude itself. It wants so badly to believe that suffering is an illusion. It wants so badly to forget, but I will not forget. I need a drink. Maybe I want to forget. Her name. The moonlit floor is ice on my feet. What was her name? I slide my fingers across the washroom cabinet. I need a drink. Pills dance in my palm. Where did she go? The kitchen table welcomes me with an unfinished bottle and a river of alcohol sails the medicine down my throat. I relax myself, and gravity pushes the smile away. Her name is Christina. 

<br>
<br>
My eyes snap open to the sound of plates being dropped next to my head. “Rise and shine princess.” I know that pretentious tone anywhere. <br>
“How the hell did you get into my apartment, Nick?” I don't even bother to raise my head off the table. Hearing his voice makes my annoyance rise, but unfortunately it has started to grow on me, bringing a sense of ease with every quip.<br>
“Are you smiling? Jesus Christ man stop it, it's freaking me out.” His snarky remark pierces the silence of the cold autumn morning. <br>
“It’s because you just woke me from a wonderful dream. A dream in which you weren't in my house at eight in the fucking morning and I was still sleeping nice and peacefully”<br>
“Quite frankly that's hard to believe, people like you only have nightmares.” He sits down next to me, glances and continues “You got drunk at a bar last night and I drove you home, it was either sleep on your couch or bring you your keys in the morning.” 
He looks away, sliding a plate of pancakes to block my view of him.  
<br>
“Thought I might as well make you something to eat. It's not much, but considering that you usually have gin for breakfast, it's plenty.” <br>
“I usually have eggs.” I groan, face still plastered on the table.<br>
“Eggs… really?” Nick walks toward the fridge. <br>
“You’re welcome, by the way” Nick adds, probably with a coy smirk plastered on his face. Slowly, I peel my head off of the table, rub the fatigue from my eyes and breathe in the crisp morning air accented with the smell of freshly made pancakes. “No syrup?” Nick throws me a bottle. “Use honey... And hurry up, we just got a new case”. 

<br>
<br>
<br>
<br>
I bend myself into the passenger's seat of Nick’s 2013 Toyota Prius, still rubbing honey and pancake crumbs off my face. <br>
“When are you going to get a new car?” I look at him with a grin, knowing the question annoyed him.<br>
“You have asked me this ever since the first time you saw my car”<br>
“Yeah and every time you said... the Prius is very gas efficient sir! It is also very comfortable sir! But if it really bothers you I can change it after this case sir!” I say, watching his face get redder with every emphasis of the word.
“I didn't say sir that many times” <br>
“You were such a respectful kid then” A smile packed sigh leaves my mouth, draining the conversation and a subsequent pause follows. I look at the window, then I look at Nick to see If I’ve pissed him off. He’s smiling, lost reminiscing in his head.
“Do you remember how we solved our first case?”<br>
I turn in my seat, rest my arm on the window sill, and take his expression as a sign to continue making fun of him. 
“Through my genius, obviously” <br>
Nick scoffed, “Perhaps years of irresponsible drinking have finally deteriorated all of your brain cells.”
“Well then, would you care to tell me what really happened then” I retorted back, turning around to the fresh droplets of rain rolling down the window. Dark clouds surround the skyscrapers looming above us and it is as if in an instant, day turned to night. Rain beats down on my passenger side window, the sound is soothing, it jogs my memory. The day we met was a lot like this one, I thought to myself.    
</div>

<!-- The next and prev chapter buttons-->
<div>
    

</div>
{%endblock%}